/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Pompiere');

/* GLOBALS */

.fredericka-font {
  font-family: 'Fredericka the Great', serif;
}

.pompiere-font {
  font-family: 'Pompiere', sans-serif;
}

/* HEADER STYLES */

.navbar {
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-nav>li>a, .dropdown-toggle>li>a, .dropdown-menu>li>a{
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, .45);
}

/* CONTACT ME SECTION */

.contact-page {
  min-height: 200px;
  background-color: #095676;
}

.contact-page>h1 {
  font-size: 100px;
  color: #83CED3;
  margin-top: 40px;
}

/* CONTACT SECTION */

#contact {
  background-image: url('../img/marble.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-size: cover;
}

.contact-margin {
  margin: 50px 150px;
  width: 50%;
}

.contact-margin>h1 {
  font-size: 50px;
}

.contact-margin>p {
  font-size: 25px;
}

.white-text {
  color: #095676;
}

.contact-form {
  background-color: #83CED3;
  padding: 10px;
  border-color: 1px solid #83CED3;
  border-radius: 10px;
  box-shadow: -10px 10px 15px #095676;
}

.form-group {
  margin: 10px;
}

/* FOOTER SECTION */

.footer {
  min-height: 150px;
  background-color: #095676;
}

.fa {
    padding: 45px;
    margin: 0px 50px;
    font-size: 100px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #fff;
}

.fa:hover {
    opacity: 0.7;
}
